#
# Configuraiton of RockDB test
#
export css_util_dir=/home/tcn/vanda/r47101/bin_pkg/centos7.5/sfx_qual_suite
export css_status=${css_util_dir}/css-status.sh
export initcard="./initcard.sh --blk --cl"

# where to save the test result
export result_dir=/home/`whoami`/benchmark/scylladb/ycsb/css
export cnfdir=/opt/app-benchmark/scylladb3.0/scripts/vanda3.2t/cfg

#
# css card configuraiton
# it is used to collect iostat information
# multiple device can be put here
#
export dev_model="css"
export dev_id="sfd0n1"
export disk="/dev/${dev_id}"
export fs_type=xfs
export mnt_opt=" -o discard"
export mnt_point=/opt/data/${dev_model}
export run_user=`whoami`

export sleep_after_case=600

# ScyllaDB configuraiton
export scylla_version=scylladb-3.0.8
export scylla_basedir=/usr/bin/scylla
export scylla_conf=/etc/scylla/scylla.yaml
export scylla_svr_conf=/etc/sysconfig/scylla-server
export scylla_datadir=${mnt_point}/${scylla_version}
export scylla_logdir=${scylla_datadir}/commitlog
export scylla_ycsb_dir=${scylla_datadir}/ycsb
#export scylla_cql=nocomp.cql
#export scylla_cql=lz4.cql
#export scylla_cql=def.cql
#export scylla_cql_list="nocomp.cql def.cql deflate.cql"
export rpt_interval=5

# YCSB workload list. It is recommend to put different settings in 
# different workload files so we can process them one by one
export yscb_dir=/opt/app/benchmark/ycsb-cassandra-binding-0.15.0
export threads=250
export hosts=192.168.10.202
export port=9042
#export workload_set="load r50_u50"
export workload_set="load u100"
#export workload_set="load"
